#filter{data: {role: "page",theme: 'a', :'add-back-btn' => 'true'}}
  %div{data: {role: 'header', position: 'fixed'}}
    %h1
      Filter
  %div{data: {role: "content"}}
    %form{action: '/bla', method: "post"}
      %div{data:{role:'fieldcontain'}}
        %label{for:"from"} 
          From
        %input{type:'date',name:"from", id: "from", data:{role:'datebox', options:'{"mode":"timeflipbox", "useFocus": true}'}}
      %div{data:{role:'fieldcontain'}}
        %label{for:"to"} 
          To
        %input{type:'date',name:"to", id: "to", data:{role:'datebox', options:'{"mode":"timeflipbox", "useFocus": true}'}}
      - ['project', 'activity' ].each do |c|
        %div{data:{role:'fieldcontain'}}
          %label.select{for:"select-#{c}"} 
            #{c.capitalize}
          %select{name:"select-#{c}", id: "select-#{c}"}
            - (1..5).each do |num|
              %option{value: 1} 
                = "My#{c.capitalize} #{num}"
  #footer{'data-role' => "footer", 'data-position' => "fixed"}
    %div{data: {role: "navbar", iconpos: :left}}
      %ul
        %li
          %a{:href => '#home', data: {role:"button", icon:"delete"} } Cancel
        %li
          %a{:href => '#home', data: {role:"button", icon:"check"} } Apply
