= render partial: 'home'
= render partial: 'termine'
= render partial: 'form'
= render partial: 'settings'
= render partial: 'filter'
= render partial: 'menu'
= render partial: 'summary_projects'
= render partial: 'summary_activities'

